[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "unhcrthemes"]
	path = unhcrthemes
	url = https://github.com/unhcr-dataviz/unhcrthemes
